@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

/* Optional scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f3efe1;
}

::-webkit-scrollbar-thumb {
  background: #c7bfa6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4aa8a;
}